<h1>Seja bem vindo ao curso de Angular!</h1>

<h4 class="text-danger">{{anuncio}}</h4>

<div class="row">
 <div class="col">

  <app-card-produto
  [foto] = "foto"
  [nomeProduto] = "nomeProduto"
  [promocao] = "promocao"
  [idProduto] = "idProduto"
  [dataValidade] = "dataValidade"
  [precoProduto] = "precoProduto"

  >

  </app-card-produto>
 </div>

  <div class="col">
   <app-card-produto
   [foto] = "foto"
   [nomeProduto] = "nomeProduto"
   [promocao] = "promocao"
   [idProduto] = "idProduto"
   [dataValidade] = "dataValidade"
   [precoProduto] = "precoProduto"

   > </app-card-produto>


  </div>
</div>


